.silkscreen {
  font-family: 'Silkscreen', cursive;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}
@font-face {
  font-family: cyber;
  src: url('../public/Cyberpunk/Cyberpunk.otf') format("opentype");
}
.cyberpunk{
  font-family: cyber;
}