@use "../styles/Font.module" as *;
@use "../styles/Breakpoints.module" as *;

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  height: 8vh;
  min-height: 60px;
  color: white;
  @extend .silkscreen;
}

.logo {
  font-weight: 700;
  font-size: 25px;
}

.ul {
  list-style: none;
  display: flex;
  align-items: stretch;
  height: 100%;
}

.ul li a {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
  padding: 10px;
  padding-inline: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  height: 100%;
}

.ul li a:hover {
  background-color: #c3d5e1;
  color: black;
}

.menu {
  display: none;
}

@include max-md {
  .ul {
    display: none;
  }
}

@include min-xs {
  .menu {
    display: flex;
    font-size: 30px;
    cursor: pointer;
    align-items: center;
  }
}

@include min-md {
  .menu {
    display: none;
  }
}